### Intro to Python programming

Let's start with the easiest thing: print a message

In [2]:
print("This line will be printed")

# or, for more conservative people
print("Hello world")

This line will be printed
Hello world

As an exercise, let's print whatever you want:

### Indentation

Python uses indentation for blocks. __Indentation is mandatory in python to define the blocks of statements__. For example:

In [3]:
x = 1
if x ==1:
    # indented block
    print ('x is 1')

x is 1

As an exercise, write an if statement that returns "Good Morning" if the time of the day is equal to morning

## Variables and Types

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

### Numbers

Python supports two types of numbers:
1) __Integers__ : whole numbers

2) __Floating points__ : decimals 

(It also supports complex numbers, which will not be explained in this tutorial).

To define an integer, use the following syntax:

In [5]:
my_int = 7
print(my_int)
type(my_int)

7

int

To define a floating point number, you may use one of the following notations:

In [9]:
my_float = 7.0
print(my_float)
# let's try with another method
new_my_float = float(7)
print(new_my_float)

# checking the num type
print(type(my_float))
print(type(new_my_float))

7.0
7.0
<class 'float'>
<class 'float'>

### Strings

Strings are defined either with a single quote or a double quotes.

In [10]:
my_string = 'hello'
print(my_string)
my_string = "hello"
print(my_string)

type(my_string)

hello
hello

str

The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [11]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

Simple operators can be executed on numbers and strings:

In [12]:
# with numbers
one = 1
two = 2
three = one + two
print(three)

3

In [13]:
# with strings
hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

hello world

Assignments can be done on more than one variable "simultaneously" on the same line like this:

In [14]:
a, b = 3, 4
print(a, b)

3 4

Mixing operators between numbers and strings is not supported:

In [15]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

But I can still print string and numbers together in this way:

In [17]:
my_val = 5

my_string = 'This is my val: '

print(my_string + str(my_val))

This is my val: 5

### Exercise
The target of this exercise is to create a __string, an integer, and a floating point number__. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20.

In [ ]:
# change this code
mystring = None
myfloat = None
myint = None

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

## List

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

In [19]:
simplest_list = [10,20,30,40,50]
print(simplest_list)

[10, 20, 30, 40, 50]

In [20]:
# add elements to a list
mylist = []
print(mylist)
mylist.append(1)
print(mylist)
mylist.append(2)
print(mylist)
mylist.append(3)

print(mylist)

[]
[1]
[1, 2]
[1, 2, 3]

In [21]:
# print a specific value of a list

# N.B.: before running this cell, TRY TO GUESS THE OUTPUT
print(mylist[0])

1

In [22]:
# prints out each value separately
for x in mylist:
    print(x)

1
2
3

Accessing an index which does not exist generates an exception (an error).

In [23]:
mylist = [1,2,3]
print(mylist[10])

IndexError: list index out of range

__REMEMBER: PYTHON STARTS COUNTING FROM ZERO!!!!__

### Exercise

In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [24]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = None


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[]
[]
The second name on the names list is None

## Basic Operators

This section explains how to use basic operators in Python.

### Arithmetic Operators
Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [25]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder.

In [26]:
remainder = 11 % 3
print(remainder)

2

This can be easily used to check if a number is even or odd

In [29]:
number = 4
# checking if the remainder is equal to zero
number%2 == 0

True

Using two multiplication symbols makes a power relationship

In [30]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

### Using Operators with Strings
Python supports concatenating strings using the addition operator:

In [31]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

Python also supports multiplying strings to form a string with a repeating sequence:

In [33]:
lotsofhellos = "hello" * 10
# Guess the output
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

### Using Operators with Lists
Lists can be joined with the addition operators:

In [34]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [35]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Exercise
The target of this exercise is to create two lists called x_list and y_list, which contain 10 instances of the variables x and y, respectively. You are also required to create a list called big_list, which contains the variables x and y, 10 times each, by concatenating the two lists you have created.

In [ ]:
x = object()
y = object()

# TODO: change this code
x_list = [x]
y_list = [y]
big_list = []

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

## Conditions
Python uses boolean logic to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

In [36]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

#### Boolean operators
The "and" and "or" boolean operators allow building complex boolean expressions, for example:

In [37]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

#### The "in" operator
The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [38]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [39]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!