### Intro to Python programming

Let's start with the easiest thing: print a message

In [1]:
print("This line will be printed")

# or, for more conservative people
print("Hello world")

This line will be printed
Hello world

As an exercise, let's print whatever you want:

In [2]:
print('ciao')

ciao

### Indentation

Python uses indentation for blocks. __Indentation is mandatory in python to define the blocks of statements__. For example:

In [ ]:
x = 1
if x ==1:
    # indented block
    print ('x is 1')

As an exercise, write an if statement that returns "Good Morning" if the time of the day is equal to morning

In [4]:
time_of_day = 12

if time_of_day <  10:
    print('Good Morning')

## Variables and Types

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

In [14]:
my_var = 9

another_var = 10

### Numbers

Python supports two types of numbers:
1) __Integers__ : whole numbers

2) __Floating points__ : decimals 

(It also supports complex numbers, which will not be explained in this tutorial).

To define an integer, use the following syntax:

In [5]:
my_int = 7
print(my_int)
type(my_int)

7

int

To define a floating point number, you may use one of the following notations:

In [ ]:
my_float = 7.0
print(my_float)
# let's try with another method
new_my_float = float(7)
print(new_my_float)

# checking the num type
print(type(my_float))
print(type(new_my_float))

### Strings

Strings are defined either with a single quote or a double quotes.

In [ ]:
my_string = 'hello'
print(my_string)
my_string = "hello"
print(my_string)

type(my_string)

The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [ ]:
mystring = "Don't worry about apostrophes"
print(mystring)

Simple operators can be executed on numbers and strings:

In [ ]:
# with numbers
one = 1
two = 2
three = one + two
print(three)

In [ ]:
# with strings
hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

Assignments can be done on more than one variable "simultaneously" on the same line like this:

In [ ]:
a, b = 3, 4
print(a, b)

Mixing operators between numbers and strings is not supported:

In [ ]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

But I can still print string and numbers together in this way:

In [21]:
my_val = 10

print("My value is = %d" % my_val)

My value is = 10

In [23]:
my_val = 5.7484985

my_string = 'This is my val: '

print(my_string + str(round(my_val,2)))

This is my val: 5.75

### Exercise
The target of this exercise is to create a __string, an integer, and a floating point number__. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20.

SyntaxError: invalid syntax (<ipython-input-24-fae8f6c72a61>, line 1)

In [ ]:
# change this code
mystring = ...
myfloat = ...
myint = ...

# testing code
if mystring == "hello":
    print("String: " str(mystring))
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: " str(myfloat))
if isinstance(myint, int) and myint == 20:
    print("Integer: " str(myint))

## List

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

In [ ]:
simplest_list = [10,20,30,40,50]
print(simplest_list)

In [ ]:
# add elements to a list
mylist = []
print(mylist)
mylist.append(1)
print(mylist)
mylist.append(2)
print(mylist)
mylist.append(3)

print(mylist)

In [ ]:
# print a specific value of a list

# N.B.: before running this cell, TRY TO GUESS THE OUTPUT
print(mylist[0])

In [ ]:
# prints out each value separately
for x in mylist:
    print(x)

Accessing an index which does not exist generates an exception (an error).

In [ ]:
mylist = [1,2,3]
print(mylist[10])

__REMEMBER: PYTHON STARTS COUNTING FROM ZERO!!!!__

### Exercise

In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [ ]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = ...


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

## Basic Operators

This section explains how to use basic operators in Python.

### Arithmetic Operators
Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [ ]:
number = 1 + 2 * 3 / 4.0
print(number)

Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder.

In [ ]:
remainder = 11 % 3
print(remainder)

This can be easily used to check if a number is even or odd

In [ ]:
number = 4
# checking if the remainder is equal to zero
number%2 == 0

Using two multiplication symbols makes a power relationship

In [ ]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

### Using Operators with Strings
Python supports concatenating strings using the addition operator:

In [ ]:
helloworld = "hello" + " " + "world"
print(helloworld)

Python also supports multiplying strings to form a string with a repeating sequence:

In [ ]:
lotsofhellos = "hello" * 10
# Guess the output
print(lotsofhellos)

### Using Operators with Lists
Lists can be joined with the addition operators:

In [ ]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [ ]:
print([1,2,3] * 3)

### Exercise
The target of this exercise is to create two lists called x_list and y_list, which contain 10 instances of the variables x and y, respectively. You are also required to create a list called big_list, which contains the variables x and y, 10 times each, by concatenating the two lists you have created.

In [ ]:
x = object()
y = object()

# TODO: change this code
x_list = [x]
y_list = [y]
big_list = []

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

## Conditions
Python uses boolean logic to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

#### Boolean operators
The "and" and "or" boolean operators allow building complex boolean expressions, for example:

In [ ]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

#### The "in" operator
The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [ ]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

In [ ]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

#### The 'is' operator

Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances themselves. For example:

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

### Exercise
Change the variables in the first section, so that each if statement resolves as True.

In [25]:
# change this code
number = 10
second_number = 10
first_array = []
second_array = [1,2,3]

if number > 15:
    print("1")

if first_array == 1:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array[1]==2 and first_array[0] == 1:
    print("5")

if second_number[0] is not 5:
    print("6")

<>:22: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:22: SyntaxWarning: "is not" with a literal. Did you mean "!="?

IndexError: list index out of range

## Loops
There are two types of loops in Python, for and while.

### The 'for' loop

For loops iterate over a given sequence. Here is an example:

In [28]:
primes = [2, 3, 5, 7]
for anyname in primes:
    print(anyname+2)

4
5
7
9

There are other two useful variants of the for loop. Try to understand what they do

In [29]:
# the enumerate
for i, val in enumerate(primes):
    print('This is my index: ' + str(i))
    print('This is my value: ' + str(val))

This is my index: 0
This is my value: 2
This is my index: 1
This is my value: 3
This is my index: 2
This is my value: 5
This is my index: 3
This is my value: 7

In [31]:
x = [23,65,73]

x[0]

23

In [34]:
x = [23,65,73]
y = [12,13,14]

for my_index, myvalue in enumerate(x):
    
    print(myvalue + x[my_index + 1])

88
138

IndexError: list index out of range

In [36]:
# the range
for i in range(len(x)):
    print(x[i])
    print(y[i])

23
12
65
13
73
14

### "while" loops
While loops repeat as long as a certain boolean condition is met. For example:

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

### "break" and "continue" statements
__break__ is used to exit a for loop or a while loop, whereas __continue__ is used to skip the current block, and return to the "for" or "while" statement. A few examples:

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

## Exercise
Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [ ]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
for number in numbers:

# Functions

### What are Functions?
Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time. Also functions are a key way to define interfaces so programmers can share their code.

Functions in python are defined using the block keyword "def", followed with the function's name. For example:

In [ ]:
def my_function():
    print("Hello From My Function!")

In [ ]:
my_function()

Functions may also receive arguments (variables passed from the caller to the function). For example:

In [ ]:
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

In [ ]:
# calling the previous function
my_function_with_args('Bene', 'a nice day')

### Exercise
In this exercise you'll use an existing function, and while adding your own to create a fully functional program.

Add a function named list_benefits() that returns the following list of strings: "More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"

Add a function named build_sentence(info) which receives a single argument containing a string and returns a sentence starting with the given string and ending with the string " is a benefit of functions!"

Run and see all the functions work together!

In [1]:
# Modify this function to return a list of strings as defined above
def list_benefits():
    return []

# Modify this function to concatenate to each benefit - " is a benefit of functions!"
def build_sentence(benefit):
    return ""

def name_the_benefits_of_functions():
    list_of_benefits = list_benefits()
    for benefit in list_of_benefits:
        print(build_sentence(benefit))

name_the_benefits_of_functions()